body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  float: right;
  height: 10%;
}

.header > button{
  border: none;
}

.main_img{
  height: 30%;
}

.main_content{
  height: 10%;
}

.main_button{
  height: 30%;
}

.main_button > button{
  border: none;
}

.footer{
  height: 10%;
}
